<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CrawlFish - Generic Search page</title>
<link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico">
<link href="/Stylesheets/merchantdashboard.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="cf-merchant-content">

	<div class="cf-merchant-header">
		<%=render 'merchants/header'%>
	<!-- end cf-merchant-header --></div>

	<div class="cf-merchant-content-wrapper"> 
		
		<%=render 'merchants/vendor_header_details'%>

		<div class="clear"></div>
		

		<div id="container" style="display:none">
			<div id="basic-template">
        			<a class="ui-notify-close" href="#">x</a>
        			<h1>#{title}</h1>
        			<p>#{text}</p>
    			</div>
		</div>		

		<div id="edit-form" title="Edit" style="display:none"></div>

		<div id="delete-dialog" title="Delete" style="display:none"></div>

		<div class="cf-merchant-content-complete">
			<div class="cf-merchant-content-divider"></div>	
			<div class="complete-dashboard-div"><%= link_to "DASHBOARD",{:controller => "merchants_dashboard", :action => "index",:vendor_id => @vendor_id},:class=>'complete-dashboard-a' %></div>
			<div class="complete-dashboard-div"><%= link_to "CATALOGUE",{:controller => "merchants_products", :action => "index",:vendor_id => @vendor_id},:class=>'complete-products-a' %></div>
			<div class="complete-dashboard-div"><%= link_to "DATA FEEDS",{:controller => "merchants_dashboard", :action => "data_feed",:vendor_id => @vendor_id},:class=>'complete-datafeeds-a' %></div>
			<div class="complete-dashboard-div"><%= link_to "FINANCIALS",{:controller => "merchants_financials", :action => "index",:vendor_id => @vendor_id},:class=>'complete-financials-a' %></div>
			<div style="padding-top:28px"></div>			
			<div class="cf-merchant-content-center">
								
			</div>
		</div>

		<div class="clear"></div>
	<!-- end cf-merchant-content-wrapper --></div>
	<div class="clear-footer"></div>
	<div class="cf-merchant-footer">
    		<div class="cf-merchant-footer-content">
			<%= render 'shared/footer' %>    	   
        	</div>
     	<!-- end cf-merchant-footer --></div>

<!-- end cf-merchant-content --></div>
</body>
</html>

