<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CrawlFish - Sepcific search results page</title>
<link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico">
<link href="/Stylesheets/specificsearch.css" rel="stylesheet" type="text/css">
<link href="/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
<script src="/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>

<script type="text/javascript">
<!--
function setFocus()
{
	if (!document.getElementById)
    {
        return;
    }

    var txtBox = document.getElementById("cf-home-search-form-searchText");

    if (txtBox != null)
    {
        txtBox.focus();
        txtBox.style.border='1px solid #06C';
    }
}
function setNoFocus()
{
    if (!document.getElementById)
    {
        return;
    }

    var txtBox = document.getElementById("cf-home-search-form-searchText");

    if (txtBox != null)
    {
        txtBox.focus();
	txtBox.style.border='1px solid #CCC';

    }
}
//-->
</script>

</head>

<body>
<div class="cf-specific-content">

<div class="cf-specific-header">

	<div class="cf-specific-header-logo">

	<!--	 <img id="imgLogo" src="/Images/CF_logowithchart.png" alt="CrawlFish Logo"/> -->
		<%= link_to image_tag("/Images/CF_logoOnlyTextWoChartPng_v14.png") ,{:controller => 'main',:action => 'index'},:class => 'imgLogo'%>

	 <!-- end cf-specfic-header-logo --></div>

    	<div class="cf-specific-header-search-form">

    		<%= render ('search/form') %>

    	<!-- end cf-specfic-header-search-form --></div>

	<!--<div class="cf-specific-header-links">-->
		<!--<a href="home.html">Virtual Mall</a>-->
	<!-- end cf-specific-header-links --><!--</div>-->

<!-- end cf-specific-header --></div>

<div class="cf-specific-content-wrapper">

	<div class="cf-specific-main-content">

		<div class="cf-specific-product-header">

			<%= render ('specific/productdetails') %>

		<!-- end cf-specific-product-header --></div>

		<div class="cf-specific-product-grid-text">
			<div class="cf-specific-product-grid-header-text">
			<span class="grid-table-text">
				Compare prices and deals from online and local shops
			</span>
			</div>

		</div>

    		<div class="cf-specific-product-grid-table">

			<%= render ('grid') %>

		<!-- end cf-specific-product-grid-table --></div>

    		<div class="cf-specific-product-details">

			<a name="details"></a>
			<div class = "cf-specific-product-details-header-text">
				<div class="cf-specific-product-details-table-header">
				<span class="grid-table-text">
					Displaying the details about this product
				</span>
				</div>
			</div>

		<!-- end cf-specific-product-details--> </div>

		<div class="cf-specific-product-details-header">

				<%= render ('details') %>

		<!-- end cf-specific-product-details-header --> </div>

		<div class="cf-specific-product-deals">
			<a name="deal"></a>
			<div class = "cf-specific-product-details-header-text">
				<div class="cf-specific-product-details-table-header">
				<span class="grid-table-text">
					Deal of the day
				</span>
				</div>
			</div>
		</div>

		<div class="cf-specific-product-deals-details">
			<div class="cf-specific-product-deals-more">

				<%= render ('deal') %>

			</div>
		</div>
	<!-- end cf-specifc-main-content --></div>

		<div class="cf-specifc-right-sidebar">

			<div class="cf-specifc-right-sidebar-brick">

				<%= render ('brick_and_mortar') %>

			</div>



			<div class="cf-specifc-right-sidebar-similar">

				<div class="cf-specifc-right-sidebar-similar-wrapper">

				<div class="cf-specifc-right-sidebar-similar-product">

					Similar Product
				</div>

				<div class="cf-specifc-right-sidebar-similar-details">

				<% if @sub_category_name == "books_lists" %>

				  <%= render('similar_book')%>

				<% elsif @sub_category_name == "mobiles_lists" %>

  				<%= render('similar_mobile')%>

				<% end %>


				</div>
				</div>
			</div>


			<div class="cf-specifc-right-sidebar-rmedia-ad">

			    	<div class="cf-specific-right-sidebar-ad-header">
	    					ADVT.
	    			<!-- end cf-specific-right-sidebar-ad-header --></div>


				<%= render ('specific_ad_1') %>


			</div>
			<div class="cf-specifc-right-sidebar-rmedia-ad">
				<div class="cf-specific-right-sidebar-ad-header">
				    ADVT.
	    			<!-- end cf-specific-right-sidebar-ad-header --></div>
				<%= render ('specific_ad_2') %>
			</div>
		</div>


		<div class="clear"></div>

		<div class="cf-specific-footer">

 			<div class="cf-specific-footer-details">

				<div class="cf-specific-footer-content">
				<%= render 'shared/footer' %>
				<!-- end cf-specific-footer-content --></div>
			</div>

		<!-- end cf-specific-footer --></div>

<!-- end cf-specific-content --></div>

<script type="text/javascript">
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
var TabbedPanels3 = new Spry.Widget.TabbedPanels("TabbedPanels3");
</script>
</body>
</html>

